*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Titillium Web";
	font-size: 16px;
	line-height: 16px;
}

.wrap{
	max-width: 740px;
	display: block;
	padding: 0 40px;
}

#logo{
	font-size: 81px;
	font-weight: 600;
	line-height: 81px;
	letter-spacing: -3px;
	height: 81px;
}

#logo-link{
	color: #444;
}

#logo-link:hover{
	color: #487DCF;
}

#logo-img{
	background-image: url('/images/logo.png');
	background-size:   cover;              
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	width: 80.5px;
	height: 78.5px;
	float: left;
	margin-right: 10px;
	margin-top: 4px;
}

#dash{
	margin-bottom: -3px;
	margin-left: 4px;
	height: 18px;
	width: 2px;
	background: #888;
	display: inline-block;
	position: absolute;
}

#version{
	color: #ddd;
	font-weight: 100;
	font-size: 50%;
}

h2{
	font-size: 34px;
	line-height: 34px;
	margin-bottom: 20px;
	color: #5E5D64;
	font-weight: 400;
}

h3{
	font-size: 23px;
	line-height: 23px;
	font-weight: normal;
	margin-bottom: 20px;
	color: #616161;
}

a{
	color: #36C;
	text-decoration: none;
}

a:hover{
	color: #000;
}

#install{
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.03);
	background: #ECECEC;
	padding: 9px 14px;
	border-radius: 3px;
	color: #565656;
	font-family: monaco, monospace;
}

#install:before{
	content: '$ ';
	color: #999;
}

.section{
	padding: 40px 40px 30px 40px;
	clear: both;
}

.section:first-child{
	padding-bottom: 0;
}

.wrap .code{
	margin-left: 0;
	margin-right: 0;
	padding: 25px 0 0 0;
	display: block;
	clear: both;
}

.code{
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.03);
	background: #FAFAFA;
	border-radius: 3px;
	padding: 25px 0;
	margin-left: 40px;
	overflow: auto;
	max-width: 740px;
}

#features{
}

#features .feature{
	width: 200px;
	height: 205px;
	padding: 20px;
	float: left;
	text-decoration: none;
	text-align: center;
}

#features .feature .img{
	clear: both;
	display: block;
	margin: 0 auto 25px auto;
	text-align: center;
	width: 100px;
	height: 100px;
	background-size:   cover;              
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

#features .feature .img{
	-webkit-transition: 150ms linear;
	transition: 150ms linear;
	opacity: 0.8;
}

#features .feature:hover .img{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	opacity: 1;
}

#features .feature .img .badge{
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.03);
	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
	background: #B6B6B6;
	color: #FFF;
	font-size: 9px;
	font-family: monaco, helvetica;
	padding: 0 8px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	margin: 86px auto;
	text-align: center;
	border-radius: 10px;
}

#features .feature .img .cyan.badge{
	background: #4CA5A5;
}

#features .feature .img .blue.badge{
	background: #5783AE;
}

#features .hosts .img{
	background-image: url('/images/icons/host.png');
}

#features .middlewares .img{
	background-image: url('/images/icons/modules.png');
}

#features .router .img{
	background-image: url('/images/icons/router.png');
}

#features .signal .img{
	background-image: url('/images/icons/signal.png');
}

#features .comparison .img{
	background-image: url('/images/icons/comparison.png');
}

#features .opensource .img{
	background-image: url('/images/icons/opensource.png');
}

#features .feature:hover{
	background: #FAFAFA;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.04);
	border-radius: 3px;
}

#features .feature .title{
	clear: both;
	color: #444;
	font-size: 20px;
}

#features .feature .description{
	clear: both;
	display: block;
	margin-top: 8px;
	line-height: 22px;
	color: #aaa;
	font-size: 15px;
}

#examples .example{
	width: 200px;
	height: 205px;
	padding: 20px;
	float: left;
	text-decoration: none;
	text-align: center;
}

#examples .example .img{
	clear: both;
	display: block;
	margin: 0 auto 25px auto;
	text-align: center;
	width: 100px;
	height: 100px;
	background-size: cover;              
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	-webkit-transition: 150ms linear;
	transition: 150ms linear;
	opacity: 0.8;
}

#examples .example:hover .img{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	opacity: 1;
}

#examples .example:hover{
	background: #FAFAFA;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.04);
	border-radius: 3px;
}

#examples .example .title{
	clear: both;
	color: #444;
	font-size: 20px;
}

#examples .example.hello .img{
	background-image: url('/images/pages/home/examples/hello.png');
}

#examples .example.chat .img{
	background-image: url('/images/pages/home/examples/chat.png');
}

#examples .example.todo .img{
	background-image: url('/images/pages/home/examples/todo.png');
}

#examples .example .description{
	clear: both;
	display: block;
	margin-top: 8px;
	line-height: 22px;
	color: #aaa;
	font-size: 15px;
}

p{
	color: #A0A0A0;
	font-size: 18px;
	line-height: 30px;
}

.code pre{
	font-size: 15px;
	line-height: 26px;
}

#description{
	color: #A3A3A3;
	font-size: 43px;
	line-height: 55px;
	margin: 30px 0 40px 0;
	display: block;
	font-weight: 100;
	letter-spacing: -1px;
}

#description i,
p b,
p i{
	color: #777;
}

#content ul li, ol li{
	margin-left: 40px;
	line-height: 30px;
	color: #999;
}

#community ul{
	margin-top: 20px;
}
#community li{
	color: #999;
}

#toc-list{
	padding-bottom: 0;
}

#toc-list li{
	list-style-type: decimal;
	color: #B0B0B0 !important;
}


#sidebar{
	background: #FAFAFA;
	box-shadow: inset -3px 0 13px rgba(0, 0, 0, 0.04), inset -1px 0 0 rgba(0, 0, 0, 0.01);
	position: fixed;
	top: -10px;
	left: 0;
	bottom: -10px;
	width: 250px;
	font-size: 14px;
	padding-top: 20px;
	overflow-y: auto;
}

#sidebar li{
	list-style-type: none;
}

#sidebar h3{
	font-size: 20px;
	color: #545454;
	margin: 25px 30px 10px 30px;
}

#sidebar .link{
	font-size: 15px;
	display: block;
	padding: 10px 30px;
	color: #999;
	transition:all ease-in-out 30ms;
}

#sidebar .link:hover{
	background: #FFF;
	color: #444;
	box-shadow: inset -4px 0 4px rgba(0, 0, 0, 0.02);
	
}

#sidebar .link.selected{
	background: #eee;
	font-weight: bold;
	color: #444;
	box-shadow: inset -4px 0 4px rgba(0, 0, 0, 0.02);
}

#content{
    margin-left: 250px;
    margin-right: 150px;
}

.home #content,
.resource.modules #content{
    margin-right: 0;
}

 

img{
    max-width: 100%;
    height: auto;
}

#footer-element{
	margin-top: 40px;
	display: block;
	position: relative;
	z-index: 10;
	padding-bottom: 40px;
}

#footer-element h3{
	margin-bottom: 20px;
}

.separator{
	color: #eee;
	padding: 0 10px;
}

::selection {
    background: #c5e8ff; /* B3DEE2 */
    color: #444;
}

.attribute{
	padding: 20px 0 0 0;
}

.attribute p{
	clear: both;
	padding-top: 5px;
	display: block;
}

.attribute h4{
	font-weight: 600;
	font-size: 19px;
	color: #444;
	clear: both;
	display: block;
}

.attribute .sep{
	font-size: 11px;
	font-weight: bold;
	color: #999;
	margin-top: 1px;
	margin-left: 5px;
}

.attribute h4 span{
	float: left;
}

.attribute .label{
	
}

.attribute .type,
.attribute.type{
	background: #B3B3B3;
	color: #FFF;
	font-size: 9px;
	line-height: 9px;
	margin-top: 1px;
	margin-left: 5px;
	font-family: monaco, helvetica;
	padding: 4px 8px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	border-radius: 10px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
}

h2 .attribute.type{
	margin-top: 12px;
}

.attribute .optional{
	background: #B3B3B3;
	color: #FFF;
	font-size: 9px;
	margin-top: 1px;
	margin-left: 5px;
	font-family: monaco, helvetica;
	padding: 0 8px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	margin-left: 5px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
}

#toc-list li{
	font-size: 18px;
}

#toc-menu{
    display: none;
	position: fixed;
	top: 0px;
	
    right: 0px;
	
    left: auto;
	
    text-align: right;
    bottom: 0;
    padding: 30px;
	
    height: auto;
	overflow-x: auto;
	
    white-space: nowrap;
	
	
	z-index: 100;
	overflow-y: hidden;
}

#toc-menu li{
	list-style-type: none;
	display: block;
	margin: 0 !important;
	line-height: 0px !important;
	padding: 0 !important;
}

#toc-menu li a{
	height: 25px;
	line-height: 25px;
	font-size: 10px;
	font-weight: bold;
	color: #9D9D9D;
	padding: 0 10px;
	text-transform: uppercase;
}

#toc-menu li a:hover{
	color: #444;
}

#toc-menu li a.selected{
	background: #B3B3B3;
	color: #FFF;
	font-weight: bold;
	border-radius: 10px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
}

#page-image{
	width: 256px;
	height: 256px;
	top: 45px;
	right: 45px;
}

#page-image2{
	width: 124px;
	height: 124px;
	top: 30px;
	right: 320px;
}

#page-image3{
	width: 110px;
	height: 110px;
	top: 188px;
	right: 320px;
}

#page-image4{
	width: 90px;
	height: 90px;
	top: 309px;
	right: 263px;
}

#page-image5{
	width: 70px;
	height: 70px;
	top: 347px;
	right: 162px;
}

.page-image{
	background-size:   cover;              
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	z-index: 10;
	opacity: 0.8;
	-webkit-transition: 500ms linear;
	transition: 500ms linear;
	filter: sepia(60%);
	-webkit-filter: sepia(60%);
	-moz-filter: sepia(60%);
	-o-filter: sepia(60%);
}

.page-image:hover{
	opacity: 0.7;
	-webkit-transform: rotate(360deg) scale(0.9);
	transform: rotate(360deg) scale(0.9);
}

#table{
	display: table;
}

#start{
	white-space: nowrap;
	display: table-cell;
	vertical-align: top;
	padding: 8px 0;
}

#start .button{
	margin-right: 10px;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.03);
	background: #3865B6;
	padding: 8px 14px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 14px;
	border-radius: 3px;
	color: #FFFFFF;
	transition: all 150ms ease-in-out;
}

#start .button:hover{
	box-shadow: inset 0 15px 30px rgba(255,255,255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.3) ;
}

#start .button:active{
	box-shadow: inset 0 15px 30px rgba(0,0,0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.3) ;
}
.silver{
	color: #aaa;
}

#install{
	display: table-cell;
	width: 100%;
	vertical-align: top;
} 

.chart{
	position: relative;
	margin-top: 30px;
}

.chart .legend{
	position: absolute;
	left: 10px;
	bottom: 0;
}

.chart .legend li{
	list-style-type: none;
	float: left;
	color: #555 !important;
}

#ss .pun{
	color: #CACACA;
}

.chart .legend li span{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	float: left;
	margin: 11px 10px 0 0;
}

.chart canvas{
    margin-bottom: 40px;
}

#github{
	width: 175px;
	height: 100px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 110;
	overflow: hidden;
}

#github-button{
	position: absolute;
	top: 20px;
	right: -80px;
	background: #3865B6;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	height: 35px;
	line-height: 35px;
	font-weight: bold;
	width: 300px;
	font-size: 13px;
	text-align: center;
	color: #FFFFFF;
	box-shadow: 0 0 5px rgba(0,0,0,0.4), inset 0 0 0 1px rgba(0,0,0,0.1);
	transition: 80ms ease-in-out;
	-webkit-transition: 80ms ease-in-out;
	-moz-transition: 80ms ease-in-out;
	-o-transition: 80ms ease-in-out;
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-o-transform: rotate(30deg);
}

#github-button:hover{
	transform: rotate(30deg) scale(1.1);
	-webkit-transform: rotate(30deg) scale(1.1);
	-moz-transform: rotate(30deg) scale(1.1);
	-o-transform: rotate(30deg) scale(1.1);
	box-shadow: 0 0 5px rgba(0,0,0,0.4), inset 0 0 0 1px rgba(0,0,0,0.1), inset 0 17px 1px rgba(255,255,255,0.1), inset 0 17px 100px rgba(255,255,255,0.06);
}

#github-button:active{
	transform: rotate(30deg) scale(1);
	-webkit-transform: rotate(30deg) scale(1);
	-moz-transform: rotate(30deg) scale(1);
	-o-transform: rotate(30deg) scale(1);
	box-shadow: 0 0 5px rgba(0,0,0,0.4), inset 0 0 0 1px rgba(0,0,0,0.1), inset 0 17px 1px rgba(0,0,0,0.1), inset 0 17px 100px rgba(0,0,0,0.04);
}

.meta{
	clear: both;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #aaa;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.meta .label{
	display: inline;
	margin-bottom: 1px;
	vertical-align: top;
	margin-right: 5px;
}

.meta .info{
	display: inline;
	clear: both;
	padding: 0px 15px;
	border-left: 1px solid #E7E7E7;
}

.meta .level{
	background: #ddd;
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-top: 1px;
	margin-left: 1px;
}

.meta .level.selected{
	background: #009624;
}

.meta .duration div{
	display: inline;
}

.meta .duration .value{
	color: #009624;
}

blockquote {
	background: #F7F7F7;
	line-height: 27px;
	color: #7E7E7E;
	font-size: 16px;
	padding: 15px 20px;
	border-left: 3px solid #ddd;
	margin: 20px;
}

.highlight span{
	background: #fff !important;
	color: #000 !important;
	padding: 0 2px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 0 1px;
}

table{
	background: #f2f2f2;
	border-spacing:0;
	padding: 2px 2px 1px 2px;
	width: 100%;
	border-radius: 3px;
}

thead{
}

tbody{
	background: #FFF;
	border-radius: 5px;
}

th{
	border-bottom: 1px solid #eee;
	padding: 9px 15px;
	text-align: left;
}

td{
	background: transparent;
	border-bottom: 1px solid #eee;
	padding: 9px 15px;
}

#badges{
    -webkit-filter: sepia(70%);
    -moz-filter: sepia(70%);
    -o-filter: sepia(70%);
    filter: sepia(70%);
}
#badges:hover{
    -webkit-filter: sepia(0%);
    -moz-filter: sepia(0%);
    -o-filter: sepia(0%);
    filter: sepia(0%);
}

#badges a{
    opacity: 0.7;
    margin-right: 5px;
}

#badges a:hover{
     opacity: 1;
}

@media screen and (max-width: 960px) {
    #toc-menu{
        display: none !important;
    }
	#content{
		margin-top: -20px;
	}
	.wrap{
		padding-left: 25px;
		padding-right: 25px;
		margin: 0 auto;
	}
	#logo{
		font-size: 61px;
	}
	#sidebar{
		display: none;
	}
	#content{
		margin-left: 0;
		margin-right: 0;
	}
	#footer-element{
		margin-left: 0;
	}
	.page-image{
		display: none;
	}
	img{
		max-width: 100%;
		height: auto !important;
	}
	#github{
		display: none;
	}
	#description{
		font-size: 26px;
		line-height: 41px;
		margin: 20px 0 10px 0;
	}
	#table{
		display: block;
	}
	#start{
		display: block;
		width: auto;
	}
	#start .button{
		margin: 0px;
		display: block;
		width: auto;
		padding: 10px 0;
		text-align: center;
	}
	#install{
		clear: both;
		display: block;
		margin-top: 5px;
		width: auto;
	}
}