<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta name="description" content="{{-this.description}}">
		<meta name="keywords" content="{{-this.keywords}}">
		<meta name="author" content="Ádám Halász">
		<title>{{-this.title || 'Diet.js'}}</title>
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/styles/global.css" type="text/css" />
		{{if this.page != 'home':}}
			<link href="/prettify/prettify.css" type="text/css" rel="stylesheet" />
			<style>
				#page-image{ background-image: url('/images/pages/{{-this.page}}/{{-this.subpage}}/1.png') }
				#page-image2{ background-image: url('/images/pages/{{-this.page}}/{{-this.subpage}}/2.png'); }
				#page-image3{ background-image: url('/images/pages/{{-this.page}}/{{-this.subpage}}/3.png') }
				#page-image4{ background-image: url('/images/pages/{{-this.page}}/{{-this.subpage}}/4.png') }
				#page-image5{ background-image: url('/images/pages/{{-this.page}}/{{-this.subpage}}/5.png') }
			</style>
		{{end}}
	</head>
	<body class="{{-this.page}} {{-this.subpage}}">
	
		{{include 'scripts/analytics'}}
		
		<a id="github" href="https://github.com/adamhalasz/diet">
			<span id="github-button">Fork me on GitHub</span>
		</a>
		
		{{include 'layouts/sidebar'}}
		<div id="content">
			{{include 'pages/'+this.page}}
			{{include 'layouts/footer'}}
		</div>
		
		{{if this.page != 'home':}}
			<script src="/scripts/zepto.js" type="text/javascript"></script>
			<script src="/scripts/toc.js" type="text/javascript"></script>
		{{end}}
		
		{{if this.subpage is 'comparison':}}
			<script src="/scripts/chart.js" type="text/javascript"></script>
			<script src="/scripts/pages/comparison.js" type="text/javascript"></script>
		{{end}}
	</body>
</html>